# ignore intermediate files
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.toc
# ignore .history directory that is created by vscode extension
/.history/
# ignore all pdf except the master file
/.pdf/*.pdf
!/.pdf/master.pdf
# just for example
!/.pdf/write-japanese.pdf
